# Customoize the value below for the setting
# The, rename this file from .env.example to .env

# database接続用
WP_DATABASE_NAME=wordpress_db
WP_DATABASE_HOST=database
WP_DATABASE_USER=user
# wordpress設定用
DOMAIN_NAME=<login>.42.fr
WP_ADMIN_USER=squinn
WP_ADMIN_EMAIL=example1@gmail.com
WP_USER_NAME=user
WP_USER_EMAIL=example2@gmail.com
